@model List<Haidarieh.Application.Contracts.Ceremony.CeremonyOperationViewModel>
@{
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">سوابق مراسم</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>عنوان</th>
                <th>عملیات</th>
                <th>عملگر</th>
                <th>تاریخ</th>
                <th>توضیحات</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-white @(item.Operation==1 ? "bg-success" : "bg-danger")">
                    <td>@item.Id</td>
                    <td>@item.Ceremony</td>
                    <td>
                        @if (item.Operation == 1)
                        {
                            <span>ایجاد</span>
                }
                        else if (item.Operation==2)
                {
                            <span>ویرایش</span>
                        }
                    </td>
                    <td>@item.OperatorId</td>
                    <td>@item.OperationDate</td>
                    <td>@item.Description</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>

