@model Haidarieh.Application.Contracts.CeremonyGuest.EditCeremonyGuest
@using Kendo.Mvc.UI

@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@Model.Title ویرایش مراسم</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">مراسم</label>
                        <input readonly type="text" class="form-control" asp-for="Title">
                        <span asp-validation-for="Title" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CeremonyDate" class="control-label">تاریخ برگزاری</label>
                        <input readonly type="text" class="form-control" asp-for="CeremonyDate">
                        <span asp-validation-for="CeremonyDate" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@(Html.Kendo().Grid(Model.Guests)
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.GuestId).Width(40).Title("کد");
                    columns.Bound(c => c.Guest).Width(140).Title("میهمان").EditorTemplateName("GuestEditor").ClientTemplate(
                        @"<div class='product-photo'
                    style='background-image: url(" + @Url.Content("~/#:GuestPic#") + ");'></div><div class='product-name'>#:Guest#</div>").Width(300);
                    //.EditorTemplateName("Country").ClientTemplate(
                    //@"<div class='k-text-center'><img class='product-photo' src='" + @Url.Content("~/#:GuestPic#") + "' alt='#: Guest#' title='#: Guest#' width='100' /></div>").Width(220);
                    columns.Bound(c => c.GuestType).Title("نوع میهمان").Width(190);
                    columns.Bound(c => c.Satisfication).Title("رضایتمندی").Width(150).Editable("returnFalse").ClientTemplate(Html.Kendo().Rating()
                        .Name("rating_#=GuestId#")
                        .Min(1)
                        .Max(5)
                        .Label(false)
                        .HtmlAttributes(new { data_bind = "value: Satisfication" })
                        .Selection("continuous")
                        .ToClientTemplate().Value);
                })
                .Events(ev => ev.DataBound("onDataBound"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("ceremonyGuest", "Grid"))
                )
                    .Events(ev => ev.DataBound("onDataBound"))
                    .Editable(e => e.Mode(GridEditMode.InCell))
            )
<script type="text/javascript">
    function returnFalse() {
        return false;
    }
    function onDataBound(e) {
        var grid = this;
        grid.table.find("tr").each(function () {
            var dataItem = grid.dataItem(this);
            var themeColor = dataItem.Discontinued ? 'success' : 'error';
            var text = dataItem.Discontinued ? 'available' : 'not available';

            $(this).find('script').each(function () {
                eval($(this).html());
            });

            $(this).find(".badgeTemplate").kendoBadge({
                themeColor: themeColor,
                text: text,
            });
            kendo.bind($(this), dataItem);
        });
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>





@*@foreach (var item in Model.Guests)
                    {
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="@item.Guest" class="control-label">میهمان</label>
                                <input type="text" class="form-control" asp-for="@item.Guest">
                                <span asp-validation-for="@item.Guest" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@item.GuestType" class="control-label">نوع میهمان</label>
                                <input type="text" class="form-control" asp-for="@item.GuestType">
                                <span asp-validation-for="@item.GuestType" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Satisfication" class="control-label">میزان رضایتمندی</label>
                                <input type="text" class="form-control" asp-for="Satisfication">
                                <span asp-validation-for="Satisfication" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="button" class="form-control btn add-on">
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        // Change event of countries dropdown list
        $('#guest').change(function () {
            $('#gType').remove();
            debugger;
            $.getJSON('/getguesttype', { GuestType: $('#guest').val() }, function (data) {
                $.each(data, function () {
                    $('#gtype').append('<option value=' +
                        this.GuestType + '</option > ');
                });
            }).fail(function () {
                alert('Cannot retrieve cities!');
            });
        });
                    ////Bind City dropdownlist
                    //$("#guest").change(function () {
                    //    var guestId = $("#guest").val();
                    //    var url = "/FillGuestType";

                    //    $.getJSON(url, { GuestId: guestId }, function (data) {
                    //        var item = "";
                    //        $.each(data, function (i, guest) {
                    //            item += '<option value="' + guest.value + '">' + guest.text + '</option>'
                    //        });
                    //        $("#guest").html(item);
                    //    });
                    //});

    </script>*@




<style>
    .k-grid tr .checkbox-align {
        text-align: center;
        vertical-align: middle;
    }

    .product-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-right: 5px;
    }

    .product-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    .k-rating-container .k-rating-item {
        padding: 4px 0;
    }

        .k-rating-container .k-rating-item .k-icon {
            font-size: 16px;
        }

    .dropdown-country-wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
    }

        .dropdown-country-wrap img {
            margin-right: 10px;
        }

    #grid .k-grid-edit-row > td > .k-rating {
        margin-left: 0;
        width: 100%;
    }
</style>