@model Haidarieh.Application.Contracts.CeremonyGuest.EditCeremonyGuest
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@Model.Title ویرایش مراسم</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">مراسم</label>
                        <input readonly type="text" class="form-control" asp-for="Title">
                        <span asp-validation-for="Title" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CeremonyDate" class="control-label">تاریخ برگزاری</label>
                        <input readonly type="text" class="form-control" asp-for="CeremonyDate">
                        <span asp-validation-for="CeremonyDate" class="error"></span>
                    </div>
                </div>

                @foreach (var item in Model.Guests)
                {
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="@item.Guest" class="control-label">میهمان</label>
                            <input type="text" class="form-control" asp-for="@item.Guest">
                            <span asp-validation-for="@item.Guest" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@item.GuestType" class="control-label">نوع میهمان</label>
                            <input type="text" class="form-control" asp-for="@item.GuestType">
                            <span asp-validation-for="@item.GuestType" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Satisfication" class="control-label">میزان رضایتمندی</label>
                            <input type="text" class="form-control" asp-for="Satisfication">
                            <span asp-validation-for="Satisfication" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="button" class="form-control btn add-on">
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
        </div>
    </div>
</form>

<script type="text/javascript">

    // Change event of countries dropdown list
    $('#guest').change(function () {
        $('#gType').remove();
        debugger;
        $.getJSON('/getguesttype', { GuestType: $('#guest').val() }, function (data) {
            $.each(data, function () {
                $('#gtype').append('<option value=' +
                    this.GuestType + '</option > ');
            });
        }).fail(function () {
            alert('Cannot retrieve cities!');
        });
    });




        ////Bind City dropdownlist
        //$("#guest").change(function () {
        //    var guestId = $("#guest").val();
        //    var url = "/FillGuestType";

        //    $.getJSON(url, { GuestId: guestId }, function (data) {
        //        var item = "";
        //        $.each(data, function (i, guest) {
        //            item += '<option value="' + guest.value + '">' + guest.text + '</option>'
        //        });
        //        $("#guest").html(item);
        //    });
        //});

</script>



